header {
  h1 {
    font-size: 48px;
    margin: 0;
  }

  p {
    margin-top: 0;
  }

  text-align: center;
  margin: 0 0 5em 0;
  border-bottom: 2px solid #333;
  padding-bottom: 1em;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

body {
  padding: 0 1em;
  font-family: 'Roboto', sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1em;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #0073e6;
}

#title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 2em;
}

p, li {
  font-size: 20px;
}

#headshot {
  max-width: 500px;
  max-height: 500px;
}

.half-and-half {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  .half-and-half {
    flex-direction: column;
  }
}

.half-and-half .half {
  flex: 1;
  padding: 2em;
}

#headshot-wrapper {
  text-align: center;
}

video {
  max-width: 100%;
  height: auto;
}

.project-header {
  text-align: center;

  h1 {
    font-size: 36px;
  }

  p {
    margin: 0 10em;
  }
}

.project {
  div {
    padding: 1em;
  }

  margin: 5em 0;
}

.project-group {
  margin-bottom: 15em;
}