:root {
  --black: #000000;
  --soft-black: #0B0F14;
  --white: #FFFFFF;
  --off-white: #E6EAF0;
  --dark-grey: rgb(175, 175, 175);
  --navy: #0A2540;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#title {
  color: var(--soft-black);
  font-size: 48px;
  text-align: center;
  margin: 0;
  padding: 1em;
  background-color: white;
  box-shadow: 0 4px 6px -6px rgb(92, 92, 92);
}

p, li, a {
  color: var(--soft-black);
  font-size: 20px;
}

a {
  color: var(--off-white);
}

a:hover {
  color: var(--white);
}

.half-and-half {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .half-and-half {
    flex-direction: column;
  }
}

.half-and-half .half {
  flex: 1;
  padding: 1em;
}

.content {
  padding: 1em;
  background-color: var(--white)
}

